* {
  box-sizing: border-box;
   }
h1 {
  margin-bottom: 15px;
  margin-top:25px;
  color: red;
  background-color: #8A2BE2;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  width: 50%;
  height: 80px;
  overflow: auto;
  border: 5px solid black;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
      }
h2{
  border: 3px solid black;
  background-color: #DEB887;
  width: 40%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: #228B22;
  text-align: center;
  float: right;
  

}
p {
  border: 3px solid black;
   background-color: #FFEBCD;
  width: 90%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: #000000;
  clear: right;
}
.section{
  background-color: #FFA07A;
  border: 2px solid blue;
  margin-top: 10px;
}

@media(min-width: 992px){
  div.one-third{
    width: 30%;
    float: left;
    margin-right: 5%;
  }
  div.one-third-last{
    margin: 0;
    margin-top: 10px;
  }
}
@media(min-width: 768px) and (max-width: 991px){
  div.one-third{
    width: 47.5%;
    float: left;
    margin: 2%
  }
  div.one-third-second{
    margin: 0;
    margin-top: 20px;
  }
  div.one-third-last{
    clear: both;
    float: none;
    width: auto;
    padding: 10px 0 0 0;
    margin-right: 10px;
    
}
@media(max-width: 767px){
  div.mobile{
    width: auto;
    float: none;
    margin-right: 0;
    margin-top: 10px;
  }
  }
